.question__title {
  color: #00bf6f;
  font-size: 1.75rem;
  font-weight: normal;
  margin: 0 0 2rem;
}

.question__items {
  list-style: none;
  padding: 0;
}

.question__item {
  margin-top: 10px;
  &:first-child{
    margin-top: 0;
  }
}